/* *{
    margin: 0;
    padding: 0;
} */
.mainDiv{
    margin: auto;
    height: 249px;
    width: 200px;
    border: 1px solid lightgrey;
    
}
.inputBar{
    /* margin: 0px; */
}
.result{
    width: 83%;
    padding: 15px;
    margin: 5px 5px;
    padding: 10px;
}
.result:hover{
    border: 1px solid black;
}
.btn-dsg{
    background:#fff;
    width: 47px;
    height: 40px;
    border-style: none;
    border: 1px solid whitesmoke;
    margin: 0px;
    padding: 0px;
    
}
.btn-dsg:hover{
    background-color: lightgray;
    opacity: 0.5;
    border: 1px solid black;
}
.opr{
    height: 40px;
    width: 47px;
    background:#fff;
    border-style: none;
    border: 1px solid whitesmoke;
}
.opr:hover{
    background-color: lightskyblue;
    border: 1px solid black;
    opacity: 0.7;
}
.clear{
    background:#fff;
    width: 100%;
    height: 40px;
    border-style: none;
    border: 1px solid whitesmoke;
}
.clear:hover{
    background-color: lightsalmon;
    border: 1px solid black;
}
